.App{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-left: 300px;
  
}
.quote{
  background:url(assets/background.jpg);
  width: 450px;
  height: 320px;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quote h2{
  font-size:48px;
  font-family: 'Tangerine', serif;

}
.quote small{
  font-size: 1.5em;
}
.btn{
  display: block;
  border: 2px solid rgb(132, 183, 219);
  background: transparent;
  padding: 10px 15px;
  color:rgb(132, 183, 219);
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background:rgb(132, 183, 219);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(222, 187, 187, 0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}